.add-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  padding: 20px;
}
.add-form-unit {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  min-width: 400px;
}

.add-form-all-fields {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  display: flex;
  flex-flow: column wrap;
  align-items: flex-end;
}

.add-form-field {
  margin: 5px;
}

.submit-button {
  background-color: whitesmoke;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
.submit-button:hover {
  color: white;
  background-color: rgb(0, 78, 142);
  font-weight: bold;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
}
