.home {
  background-color: whitesmoke;
}
.home-title {
  margin: 0px;
  padding: 20px;
}
.menu-title {
  font-weight: bold;
  font-size: large;
}
.home-restaurants {
  background-color: whitesmoke;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.restaurant-card {
  border-style: solid;
  border-width: 1px;
  padding: 10px;
  background-color: rgb(217, 223, 228);
  min-width: 400px;
  min-height: 241px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: 0.5s;
}

.restaurant-card:hover {
  border-style: solid;
  border-width: 5px;
  border-radius: 10px;
  cursor: pointer;
}
