.restaurant-page-title {
  margin: 0px;
  padding: 20px;
}
.menus-layout {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.menu-card {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 10px;
  min-width: 400px;
  margin-bottom: 10px;
}
.menu-item-card {
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  padding: 10px;
  min-width: 400px;
  margin-bottom: 10px;
}
