.restaurant-page {
  background-color: whitesmoke;
}
.restaurant-page-title {
  margin: 0px;
  padding: 20px;
}
.menus-layout {
  background-color: whitesmoke;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}
.menu-card {
  border-style: solid;
  border-width: 3px;
  padding: 10px;
  background: linear-gradient(rgba(253, 253, 253, 0.8), rgba(212, 226, 237, 0.9));
  min-width: 400px;
  margin-bottom: 10px;
}
.menu-item-card {
  border-style: solid;
  border-width: 1.5px;
  padding: 10px;
  background-color: whitesmoke;
  min-width: 400px;
  margin-bottom: 10px;
}
